[run]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    nba_player_news/settings.py
    nba_player_news/models.py
    nba_player_news/schema.py
    nba_player_news/wsgi.py
    nba_player_news/migrations/*
    nba_player_news/management/*
